export GITHUB_EVENT_NAME=repository_vulnerability_alert
export GITHUB_EVENT_PATH=/Users/thepwagner/git/thepwagner/action-update-npm/__tests__/fixtures/repository_vulnerability_alert.json
export INPUT_TOKEN=$GITHUB_TOKEN
export ACTIONS_STEP_DEBUG=true
